/* Izmantorās krāsa : Oranžā: #e67e22





*/

/* Basic setup-------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    background-color: white;
    color: rgb(70, 65, 65);
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 1.5rem;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: ',';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
} 

/* Heder-------------------------------------*/ 
.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.712)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
}
/* Icons-------------------------------------*/ 

.icons-big {
    font-size: 2rem;
    display: block;
    color: #e67e22;
    margin-bottom: 0.3rem;
    margin-left: 4rem; 
}


/* Navigations-------------------------------------*/ 
.main-nav {
    float: right;
    list-style: none;
    margin-top: 0.5rem;
    
}
.main-nav li {
    display: inline-block;
    margin-left: 1rem;

}
.main-nav li a:link,
.main-nav li a:visited {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.5rem;
    padding: 0.2rem 0.3rem;
}

.main-nav li a:hover,
.main-nav li a:active {
   border-bottom: 0.1rem solid #e67e22;
   transition: ease-in;

}
/* Stiky Nav-------------------------------------*/ 
.logo {
    height: 4rem;
    width: auto;
    float: left;
    margin-top: 0.5rem;
}
.logo-black { 
    height: 2.5rem;
    width: auto;
    float: left;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.logo-black {
    display: none;
}
.sticky .main-nav {
    float: right;
    list-style: none;
    margin-top: 0.8rem;  
    font-size: 0.6rem;
}

.sticky .logo {
    display: none;
}
.sticky .logo-black { 
display: block;
}


.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 0.1rem 0.1rem rgb(165, 163, 163);
    z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 400;
    padding: 0.3rem 0.3rem;
}
/* Mobile Nav-------------------------------------*/ 
.mobile-nav-open {
    float: right;
    margin-top: 0.3rem;
    cursor: pointer;
    display: none;
}
.mobile-nav-open i {
    font-size: 200vh;
    font-size: 1rem;
    color: white;
}
.sticky .mobile-nav-open i {
    font-size: 200vh;
    font-size: 1rem;
    color: black;
    padding-right: 0.4rem;
}


/* Reusuble components-------------------------------------*/ 

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
    font-size: 0.8rem;
}


section {
width: 100%;
display: inline-block;
padding: 2rem 0;
margin: 0;
}

h1 {
    margin: 0;
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
}
h2 {
    font-weight: 300;
    word-spacing: 0.2rem;
    text-align: center;
    font-size: 1.5rem;
}
h3 {
    font-weight: 400;
    word-spacing: 0.1rem;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.box p {
    font-weight: 300;
    word-spacing: 0.1rem;
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 2rem;
    float: left;
}
h2:after {
    display: block;
    height: 0.05rem;
    background-color: #e67e22;
    content: " ";
    width: 20rem;
   margin: 0 auto;
   margin-bottom: 1rem;
   margin-top: 1rem;
}
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.span-1-of-4 {
 display: block;
    width: 37vh; 
    padding: 0.5rem;
    min-height: 30vh;
}


/* Paragraphes-------------------------------------*/ 

.long-copy {
    width: 70%;
    margin-left: 18%;
    margin-right: 12%;
    margin-bottom: 1rem;
} 


/* Buttuns-------------------------------------*/ 


.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 0.5rem 1.6rem;
    font-weight: 300;
    text-decoration: none;
    border-radius: 20rem;
    border: 0.1rem solid #e67e22;
    transition: background-color 0.5s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    color: white;
    margin-right: 0.5rem;
}

.btn-ghost:link,
.btn-ghost:visited
 {
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover, 
input[type=submit]:active {
   background-color: #b9651c;
   color: white;
}


/* Meals section-------------------------------------*/ 

.section-meals {
    padding: 0;
    margin: 0;
}

.meal-showcase {
    list-style: none;
    width: 100%;
}
.meal-showcase li {
    display: block;
    float: right;
    width: 25%;
    height: auto;
}

.meal-photo {
    width: 100%;
    margin: 0;
overflow: hidden;
background-color: black;
}

.meal-photo img {
    width: 100%;
    height: auto;
    transform: scale(1.20);
    opacity: 0.6;
    transition: transform 0.5s, opacity 0.5s;
}
.meal-photo img:hover {
transform: scale(1.04);
opacity: 1;
}
/* How it works-------------------------------------*/ 

.section-steps {
    padding: 1.5rem;
    
} 

.step-box:first-child {
   text-align: right;
   
}

.step-box:last-child {
  padding-left: 1vh;
  margin-top: 5rem;
 
}
.app-screan {
    width: 20vw;
    padding-right: 6vw;
}
.work-steps {
    margin-bottom: 2rem;
}

.work-steps div {
    float: left;
    color: #e67e22;
    border: 0.05rem solid #e67e22;
    display: inline-block;
    border-radius: 50vh;
    width: 3vw;
    height: 6vh;
    text-align: center;
    padding: 0.1rem;
    font-size: 1rem;
    margin-right: 1rem;
}

.btn-app img {
    height: 5vh;
    width: auto;
    margin-right: 0.5rem;
}
/* wher we are-------------------------------------*/ 

.section-cities{
    background-color: rgba(0, 0, 0, 0.075);
}

.box img {
    width: 30vh;
    height: auto;
    margin-bottom: 0.5rem;
    margin-left: 0.3rem;
}

.city-future {
    padding-top: 0;
    font-size: 0.6rem;
    margin-left: 2rem;
    padding-bottom: 0.4rem;
}

.city-future i {
    float: left;
    font-size: 0.7rem;
    display: block;
    color: #e67e22;
    text-align: center;
    padding-top: 0;
    padding-right: 0.3rem;
}

.twiter:link,
.twiter:visited {
    text-decoration: none;
    color: #e67e22;
    padding-bottom: 0.1rem;
     
}
.twiter:hover,
.twiter:active {
    color: black;
    border-bottom: 0.01rem solid #e67e22; 
}

/* section-testimonials-------------------------------------*/ 
.span-1-of-3 {
    display: block;
    float: left;
    width: 50vh;
    margin-top: 3rem;
}
.section-testimonials {
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.712)), url(img/back-customers.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.blockquote {
   padding-right: 1rem;
   font-style: italic;
   font-size: 0.7rem;
   position: relative;
   max-height: 10rem;
}
.cite {
  display: block;
  font-size: 0.5rem;
  margin-top: 0.1rem;
  
}
.blockquote:before{
    content: "\201C";
    font-size: 10vh;
    display: block;
    position: absolute;
    top: -1.7rem;
    left: 0;

}

.cite img {
    height: 2rem !important;
    width: auto !important;
    border-radius: 50vh;
    margin-bottom: 0;
}
/* section-plans-------------------------------------*/
.section-plans { 
    background-color: rgba(0, 0, 0, 0.075);

}
.plan-box {
    background-color: white;
    min-height: 15vh;
    width: 43vh;
   margin-left: 5vh;
}
.plan-box div {
    padding: 1rem 1rem 1rem 1rem;
    
}

.plane-price {
    color: #e67e22;
    font-size: 8vh;
    margin-bottom: 0.2rem;
    font-weight: 200;
}
.plane-price span {
    color: black;
    font-size: 3vh;
    font-weight: 300;
}
.plane-meal {
    font-size: 2vh;

}
.plane-augsa {
    padding-bottom: 0.4rem !important;
    background-color: rgba(167, 167, 167, 0.075);;
    border-bottom: 0.01rem solid rgb(214, 209, 209);
    min-height: 5rem;
}
.apaksa ul {
    padding-bottom: 1rem;
   border-bottom: 0.01rem solid rgb(214, 209, 209);
    font-size: 2vh;
}
.cenas {
    text-align: left;
}
.plan-box ul {
    list-style: none;
}
.fa-check-circle {
    color: green;
}
.fa-times-circle {
    color: red;
}
.plan-box ul li {
    padding: 0.2rem 0; 
}
.plan-box ul i {
    padding-right: 0.2rem;
}
.plan-box a {
    font-size: 0.8rem !important;
    padding: 0.3rem 1rem !important;
   margin: 0.1rem !important; 
}
.poga {
    padding-top: 0 !important;
    text-align: center;
}
/* Contact form-------------------------------------*/

.span-4-of-3 {
    display: block;
    float: left;
    width: 7rem;
    margin-top: 0.2rem;
}
.span-2-of-3 {
    display: block;
    float: left;
    width: 12rem;
    margin-top: 0.2rem;
}
.contact-form {
    margin: 0 auto;
}
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 0.1rem;
    border-radius: 0.1rem;
    border: 0.01rem solid grey;
}
.row-form {
    max-width: 21rem;
    margin: 0 auto 0 auto;
}
input[type=checkbox] {
    margin: 0.1rem;
}
.section-form {
    background-color: rgba(128, 128, 128, 0.418);
}
/* Footer-------------------------------------*/
.span-1-of-2-2{
    display: block;
    float: left;
    width: 76vh;
    margin-top: 0.2rem;
}

footer {
    background-color: rgba(0, 0, 0, 0.842);
    padding: 1rem 3rem 3rem 3rem;
}
.footer-nav {
    list-style: none;
    float: left;
    
}
.social-links {
    list-style: none;
    float: right;
    
}
.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 0.2rem;
    
}
.footer-nav li:last-child,
.social-links li:last-child {
    margin: 0;
}
.row-apaksa {
    color: rgb(158, 152, 152);
    font-size: 0.6rem;
  padding-left: 0.6rem;
  text-align: center;
  margin-top: 3rem;   
}
.footer-nav li a:link,
.social-links li a:visited,
.social-links li a:link,
.social-links li a:visited {
    color: rgb(158, 152, 152);
    text-decoration: none;
    font-size: 0.7rem;
    padding: 0.1rem 0.2rem;  
}
.footer-nav li a:hover,
.social-links li a:active,
.social-links li a:hover,
.social-links li a:active {
    color: #e67e22;
    text-decoration: none;
    font-size: 0.7rem;
    padding: 0.1rem 0.2rem;
    border-bottom: 0.01rem solid #e67e22;
}
.fa-times-circle {
    display: none;
}
/*--PIZA-------------*/


@import url('https://fonts.googleapis.com/css?family=Roboto');
/*
Green: #67b26f
Blue: #4ca2cd
Mid: #5aaa9d
*/

.pizza {
  max-width: 800px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 30px 80px 10px rgba(0,0,0,.2);
  margin-left: 14rem;
  display: flex;
  align-items: stretch;
}

.pizza__hero {
  flex: 0 0 45%;
}

.pizza__img {
  width: 100%;
  display: block;
}

.pizza__content {
  flex: 1;
  background: white;
  padding: 35px 30px;
  
  display: flex;
  flex-direction: column;
}

.pizza__price {
  flex: 0 0 50px;
  background: linear-gradient(to bottom, #e67e22, #000000);
  writing-mode: vertical-rl;
  color: white;
  font-size: 18px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.pizza__title {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.pizza__heading {
  font-size: 11px;
  font-weight: 400;
  margin-right: auto;
  color: black;
  margin-bottom: 18px;
}

.pizza__tag {
  font-size: 10px;
  text-transform: uppercase;
  color: white;
  padding: 1px 7px;
  border-radius: 100px;
  margin-left: 7px;
  margin-bottom: 18px;
}

.pizza__tag--1 { background-color: #67b26f; }
.pizza__tag--2 { background-color: #4ca2cd; }

.pizza__description {
  font-size: 14px;
}

.pizza__details {
  display: flex;
  margin-top: auto;
}

.pizza__detail {
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 700;
  
  display: flex;
  align-items: center;
}

.emoji {
  font-size: 20px;
  margin-right: 3px;
}
.section-piza {
    background-color:  #e67e22;
}
/*linear-gradient(to bottom, #e67e22, #000000) */